*{
    direction: rtl;
}
.bg-top-nav{
    background-color: rgb(47, 47, 47);
    color: white;
}
.nav{
    font-size: 14px;
    margin: 0;
}
.titr-free-send{
    font-size: 14px;
    margin-top: 4px;
}
.custom-top-nav a{
    border-color: rgba(79, 75, 75, 0.674) !important;
    margin-top: 4px !important;
}
.font-size-btn{
    font-size: 14px !important;
}